 <div class="modal fade" id="item_detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content show_trend">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle" aria-hidden="true"></i></h4>
            </div>

            <div class="modal-body">
                <div class="comment">
                    <h4 class="modal-title"></h4>
                    <p id="item_comment"></p>
                </div>
            <br>

            <div class="row">
                <div class="col-sm-6 ">
                    <dl class="modal_status">
                    <a href="" id="doing">
                        <dt><i class="fa fa-file-text-o" aria-hidden="true"></i></dt>
                        <dd>doingユーザ一覧</dd>
                        <span id="doing"></span>
                    </a>
                    </dl>

                </div>

                <div class="col-sm-6 ">
                    <dl class="modal_status">
                    <a href="" id="done">
                        <dt><i class="fa fa-check" aria-hidden="true"></i></dt>
                        <dd>達成ユーザ一覧</dd> 
                        <span id="done"></span>
                    </a>
                    </dl>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> 

